*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserat' , sans-serif;
   
}
.img{
    
    padding-top: 70px 0;

}

.navbar {
    background-color: transparent !important;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 999;
    font-size: 15px;
  }
  .navbar-nav .nav-item {
  
    padding: 0px 100px 0px 120px;
    font-weight: 700;
  }


  .nav {
    background-color: #209C48;
    overflow: hidden;
  }
  

  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .nav a:hover {
    background-color: #ddd;
    color: #209C48;
  }

#main {
    display: flex;
    align-items: center;
}
#main img {
    margin-right: 20px;
}
.header1 {
    text-align: left;
}
.header1 p, .header2 p {
    margin: 0;
}
.header1 p {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}
.header2 p {
    font-size: 0.9em;
    color:white;
}
.header2 br {
    margin-bottom: 10px;
}
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #053774;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav .brand-name h1{
    
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 150px;
    color:white;
    font-family: 'Montserat', sans-serif;
    font-size:large;
    font-weight:bold;

}

.sidenav li{
    font-size: 10px;
    padding:0%;
    display:flex;
    align-items:center;
    text-align: center;
}

.side-menu li:hover{
    align-items: center;
    color: white;


}

hr{
    color:white;
}
.centered-content {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.centered-content ul {
    list-style-type: none;
    padding: 0;
}
.centered-content li {
    margin: 20px 0;
}
.dashboard{
  position: flex;
  right:0;
  width: 1759px;
  height:15vh;
  background:white;
  border-style:solid;
  border-color: rgb(218, 217, 217);
  border-radius: 1%;
  justify-content:center;
  text-align: center;
  font-family: 'Montserat', sans-serif;
  text-indent: 50px;
  font-size:35px;
  font-weight:bold;
  color:#053774;
}
.card {
  width: 300px;
  background-color: #04AA6D;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  position: relative;
}
.card-img-overlay {
  padding: 20px;
  position: relative;
}
.card-title {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}
.card-text {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}
svg {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  color: green;
}
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }