.bg-img{
    background-image: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url(img/newcityhall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 7rem;
    padding-bottom: 6rem;
}

.container{
    font-family: 'Montserrat', sans-serif;
    width: 800px;
    height: 370px;
    padding: 30px;
    text-align: center;
    background-color: white;
    border-radius: 70px;
}
img{
    margin-left: 660px;
}

h2{
    margin-top: -40px;
    font-weight: bold;
}
hr{
    width: 799px;
    align-items: center;
    justify-content: center;
    margin-left: -29px;

}

.card{
    background-color: #EBE6E6;
    align-items: center;
    width: 700px;
    margin-left: 20px;
    border-radius: 70px;
}

input{
    position: absolute;
    width: 80%;
    margin-inline-start: -280px;
    border-radius: 10px; 
    border: 1px solid black;
}

.input label{
    position: absolute;
    margin-inline-start: -272px;
    padding-top: 1.8rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.20 ease;
}


.Btn1{
  width: 85px;
  height: 30px;
  background: #D9D9D9;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: small;
  color: black;
}

.Btn2{
    width: 85px;
    height: 30px;
    background: #053774;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: small;
    color: white;
}

.boxes{
    margin-inline-start: 385px;
}

h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }