*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}
.bg-img{
  background-image: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url(img/newcityhall.jpg);
  height: 100vh;
}
.container{
  padding-top: 4rem;

}
.card{
  width: 1200px;
  height: 500px;
}
.card-img-top{
  width: 120px;
  padding-top: 20px;

}
.card-title{
  font-size: 24px;
  text-align: center;
  font-weight: 800px;
}
.card-body{
  background-color: rgb(185, 185, 185);
  border-radius: 8px;

}