.bg-img{
    background-image: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url(img/newcityhall.jpg);
    height: 100vh;
}
.container{
    width: 100vw;
    background-color: white;
    height: 50vh;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}