.bg-img{
  background-image: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url(img/newcityhall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.container{
  font-family: 'Montserrat', sans-serif;
  width: 800px;
  height: 100%;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;

}

img{
  align-items: center;
  margin-top: -20px;
  margin-bottom: 10px;
}  

h5{
  font-weight: bold;
}

.card{
  background-color: #EBE6E6;
  align-items: center;
  width: 600px;
  height: 68%;
  margin-left: 70px;
  border-radius: 10px;
  margin-top: -25px;
}

input{
  width: 100%;
  height: 25px;
  margin-top: 1.5rem;
  border-radius: 4px; 
  border: 1px solid black;
  margin-right: 200px;
}

.input label{
  font-size: small;
  font-weight: bold;
  position: absolute;
  margin-top: 15px;
  margin-inline-start: -0px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.20 ease;
}
.register p{
  display: flex;  
  align-items: center;
  align-self: center;
  font-size: small;
  margin-top: 2px;
}

.Btn{
  width: 25%;
  height: 30px;
  background: #053774;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: small;
  color: white;

}













.copyright{
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  color:white;
  align-self:center;
  text-align:center;
  margin-top: 30px;
}