.divider {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(img/newcityhall.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.divider-content {
  text-align: left;
  color: white;
  padding-left: 15px;
}
.divider h2 {
  font-size: 2rem;
}