.cover-image {
  background-image: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url(img/newcityhall.jpg);
  background-size: cover;
  height: 500px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.cover-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  font-size: 40px;
}
.lead{
  text-align: left;
  font-size: 20px;
}
.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 999;
  font-size: 15px;
}
.navbar-nav .nav-item {

  padding: 0px 100px 0px 120px;
  font-weight: 700;
}
.navbar .btn{
  margin-left: 70px;
  width: 80px;
  font-weight: 700;
}